.button{
    color: white;
    background-color: #21B573;
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
    
}
.nav-link{
    color: black;
    margin-right: 20px;
}
span{
    color: #21B573;
}
h6{
    color: #FC5C27;
}
.bg{
    background-color: #F0FFF0;
}
.cat1{
    background: #F8FFFB;
    border: none;
    border-radius: 10px;
    padding: 25px 0px;
}
.cat2{
    box-shadow: 5px 10px 15px;
    border: none;
    border-radius: 10px;
    padding: 25px 0px;
}
section.mbottom{
    margin-bottom: 80px;
}
.card{
    border: none;
    box-shadow: 0px 10px 20px;
    border-radius: 18px;
    background: #FFFFFF;
   
    
}
.card-deck{
    margin-top: 30px;
   
}
.card-img-top{
padding: 20px;
}
h1.st{
    font-weight: 700;
}
ul{
    list-style-type: none;
}
.footer p{
    color: white;
    margin-top: 20px;
}
section.back{
    background: #282531;
    margin: 0px 20px;
 
    
}
.color{
    
    color: white;
}
.c{
    margin-top: 20px;
}